/* =============================================================================
   Box Sizing
   Apply a natural box layout model to all elements - http://paulirish.com/2012/box-sizing-border-box-ftw/
   border-box polyfill for IE 6/7: https://github.com/Schepp/box-sizing-polyfill#readme
   ========================================================================== */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;  *behavior: url(boxsizing.htc); }



html{
  height: 100%;
}
body{
  color: yellow;
  overflow-x:hidden;
}

#top, #mid{
  display:none;
}

#top{
  background-repeat: no-repeat;
  background-size: cover !important;
  height: 630px;
  border-bottom: 5px solid #f03d3c;
}


h1, h2{
  background-color: #f03d3c;
  position: absolute;
  padding: 10px 20px 10px 20px;
  font-weight: normal;
  cursor: pointer;
  color: white;
}

#top > h1{
  top: 10%;
  left: -250px;
  background: url('../..//img/info_icon.png') no-repeat #f03838;
  background-position: -80px 50%;
  padding-left: 60px;
}

#top > h2{
  top: 30%;
  right:0;
}

h1 a, h1 a:visited{
  color: white;
}

#top > ul {
    position: absolute;
    right: 0;
    top: 40%;
}
#writes {
  background-color: #2980b9;
  display: inline-block;
  list-style: none;
  font-size: 24px;
  position: relative;
  left: 380px;
  margin-bottom: 0;
}
#writes li {
  float: left;
  margin-left: 20px;
  padding: 10px 40px 10px 30px;
}
#top > ul a, #top > ul a:visited {
  color: white;
  text-decoration: none;
}

#designs, #captures {
  background-color: #2980b9;
  padding: 10px 20px 10px 10px;
  font-size: 24px;
  position: relative;
  left: 380px;
  text-align:right;
}
#captures{
  width:70px;
}
#resume {
  margin: 0 auto;
  max-width: 977px;
  display: none;
}
.sans{
  text-transform: uppercase;
}

#mid .sans {
    font-size: 1.4em;
    margin-top: 10px;
}
.caption {
  position: absolute;
  top: 590px;
  right: 0;
  margin: 10px 10px;
  color: white;
  text-transform: uppercase;
  font-size: 1.2em;
}
.caption a {
    color: white;
}
#mid{
  /* position: absolute; */
  /* bottom:20px; */
  /* width:100%; */
  text-align: center;
  color: #2c3e50;
  font-size: 1.5em;
}

#mid a, #mid a:visited, #resume p a, #resume p a:visited{
  color: #2c3e50;
}

/* #resume img{ */
/*   max-width: 977px; */
/*   width: 100%; */
/* } */

#mid a:hover, #resume p a:hover{
 color: #f03838;
}

#long {
    width: 60%;
    margin: 0 auto;
    font-size: 0.8em;
    padding: 0;
}
#mid p {
    padding: 0;
    margin-bottom: 10px;
}

#resume p {
  color: #2c3e50;
  width: 90%;
  margin: 0 auto;
  padding: 0 0 20px 0;
  font-size: 1.2em;
  text-align: center;
}

#intro p {
    color: #2c3e50;
    font-size: 1.6em;
    text-align: center;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 646px) {
  #long {
    margin-top:10px;
    width: 90%;
  }
  #mid .sans {
    font-size: 1.2em;
    width: 80%;
    margin: 5px auto;
  }
  #top{
    height: 420px;
  }
  .caption{
    top: 380px;
  }
}





